{% extends 'gallery/base_generic.html' %}

{% block content %}
    {% if album %}
        <p>Album: {{ album.id }}</p>
        <p>Title: {{ album.title }}</p>
        <p>Description: {{ album.description }}</p>
        <p>Owner: {{ album.owner }}</p>
        <p>time_created: {{ album.time_created }}</p>
        <p>time_updated: {{ album.time_updated }}</p>
        <p>
        <a href="{% url 'gallery:update-album' album.id %}" class="btn btn-primary btn-lg">Update</a>
        <a href="{% url 'gallery:delete-album' album.id %}" class="btn btn-danger btn-lg">Delete album</a>
        </p>

        {% for image in images %}
        <div>
            <p>IMAGE: {{ image.title }}, ID: {{ image.id }}</p>
            <p>TIME_CREATED: {{ image.time_created }}</p>
            <p>TIME_UPDATED: {{ image.time_updated }}</p>
            <p><a href="{% url 'gallery:detail-image' image.id %}"><img height="300px" width="300px" src="{{ image.img.url }}" /></a></p>
        </div>
        <br/><br/>
        {% endfor %}

    {% else %}
        <p class="text-warning">No such albums</p>
    {% endif %}
{% endblock %}
