{% extends 'gni/base.html' %}

{% block header %}{% endblock %}

{% block content %}
<form class="form-horizontal" method="POST" action="{% url 'gallery:signup' %}" id="form-signup">
    {% include 'forms/horizontal_form.html' %}
    {% comment %}
        {% csrf_token %}
        {{ form.as_p }}
    {% endcomment %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-danger">Sign up</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'gallery:signin' %}">Sign in</a>
        </div>
    </div>
{% endblock %}
