{% extends 'gallery/base_generic.html' %}

{% block content %}

<p>Title: {{ image.title }}</p>
<p>Description: {{ image.description }}</p>

{% if image.owner == user %}
    <p>
        <a href="#">Edit</a>
        <a href="{% url 'gallery:delete-image' image.pk %}">Delete</a>
    </p>
{% endif %}
<img height="200px" width="400px" src="{{ image.img.url }}" />
<p>
    {% if liked %}

        <p>
            <form style="display:none" id="unlike-image-{{ image.id }}-form" method="POST" action="{% url 'gallery:unlike-image' image.pk %}">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('unlike-image-{{ image.id }}-form').submit();">Unlike</a>
        </p>
        <a href="{% url 'gallery:detail-user' user.id %}">You</a> and {{ number_others_like }} others like this, Date posted: {{ image.time_created }}

    {% else %}

        <p>
            <form style="display:none" id="like-image-{{ image.id }}-form" method="POST" action="{% url 'gallery:like-image' image.pk %}">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('like-image-{{ image.id }}-form').submit();">Like</a>
        </p>
        {{ users_like.count }} others like this, Date posted: {{ image.time_created }}

    {% endif %}
        
</p>
<br />
<p>Comments:</p>
{% for c in comments %}
    <p><a href="{% url 'gallery:detail-user' c.owner.id %}">{{ c.owner }}</a>: {{ c.content }}</p>
    <p><em>{{ c.users_like.count }} likes</em>, time: {{ c.time_updated }}</p>
    <p>
        {% if user in c.users_like.all %}

        <form style="display:none" id="unlike-comment-{{ c.id }}-form" method="POST" action="{% url 'gallery:unlike-comment' c.id %}">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('unlike-comment-{{ c.id }}-form').submit();">Unlike</a>

        {% else %}

            <form style="display:none" id="like-comment-{{ c.id }}-form" method="POST" action="{% url 'gallery:like-comment' c.id %}">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('like-comment-{{ c.id }}-form').submit();">Like</a>

        {% endif %}
    </p>
    <br/>
{% endfor %}

<br/></br>
<p>{{ user }}:</p>
<form method="POST" action="{% url 'gallery:detail-image' image.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Post comment" />
</form>

{% endblock %}
