{% extends 'base.html' %}

{% block static_files %}
    {{ block.super }}
{% endblock static_files %}

{% block content %}
    {% if album %}
        <div class="row">
            <div class="col-md-10">
                <h2>{{ album.title }}</h2>
                <p class="lead">{{ album.description }}</p>
                {% if album.owner == user %}
                    <p class="text-right">
                    <a href="{% url 'albums:add' album.pk %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> add images</a>
                    <a href="{% url 'albums:edit' album.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-cog"></span> Update</a>
                    <a href="{% url 'albums:delete' album.pk %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
                    </p>
                {% endif %}
                <br />
            </div>
        </div>

        {% if messages %}
            <div class="row">
                <div class="col-md-10">
                    {% for msg in messages %}
                        <div class="{{ msg.tags|default:'' }}">{{ msg }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <a class="thumbnail" href="{% url 'images:detail' image.pk %}"><img src="{{ image.img.url }}" height="240px"/></a>
                    <p class="hidden">
                    <form method="POST" action="{% url 'albums:thumbnail' album.pk %}" id="thumbnail-{{ image.pk }}">
                            {% csrf_token %}
                            <input type="hidden" name="image" value="{{ image.pk }}"/>
                        </form>
                    </p>
                    <button class="btn btn-default btn-sm" onclick="document.getElementById('thumbnail-{{ image.pk }}').submit();">set thumbnail</button>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
        </div>
        <div class="row">
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <div class="row">
            <div class="col-md-12">
                <p class="text-warning">No albums</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
