{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            {% for msg in messages %}
                <div class="{{ msg.tags|default:'' }}">{{ msg }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>ID: <strong>{{ user_obj.id }}</strong></p>
        <p>Username: <strong>{{ user_obj.username }}</strong></p>
        <p>Firstname: <strong>{{ user_obj.first_name }}</strong></p>
        <p>Lastname: <strong>{{ user_obj.last_name }}</strong></p>
        <p>Email: <strong>{{ user_obj.email }}</strong></p>
        <p>Twitter: <strong>{{ user_obj.profile.twitter }}</strong></p>
        <p>Date joined: <em>{{ user_obj.date_joined }}</em></p>
        <p>Last login: <em>{{ user_obj.last_login }}</em></p>
        <br/>

        {% if user_obj == user %}
            <a href="{% url 'users:edit' user.pk %}" class="btn btn-success">Update profile</a>
        {% endif %}
    </div>
</div>
{% endblock %}
