{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        USER: <a href="{% url 'users:detail' user_obj.pk %}">{{ user_obj.username }}</a>, ID: {{ user_obj.id }}
        <br/><br/>
    </div>
</div>

{% if is_paginated %}
    <div class="row">
        <div class="col-md-12">
            <h4>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <nav>
                <ul class="pager">
                    <li class="previous {{ page_obj.has_previous|yesno:',disabled' }}"><a href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number}}{% else %}{{ page_obj.number }}{% endif %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next {{ page_obj.has_next|yesno:',disabled' }}"><a href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number}}{% else %}{{ page_obj.number }}{% endif %}">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    {% for image in page_obj %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p><a href="{% url 'images:detail' image.pk %}">{{ image.title }}</a></p>
                <p><img src="{{ image.img.url }}" height="400px" width="550px" /></p>
                {% with num_likes=image.users_like.count %}
                <p>{{ num_likes }} like{{ num_likes|pluralize }}</p>
                {% endwith %}
                <br>
                <br>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <nav>
                <ul class="pager">
                    <li class="previous {{ page_obj.has_previous|yesno:',disabled' }}"><a href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number}}{% else %}{{ page_obj.number }}{% endif %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next {{ page_obj.has_next|yesno:',disabled' }}"><a href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number}}{% else %}{{ page_obj.number }}{% endif %}">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

{% else %}{# if is_paginated #}

    {% for image in object_list %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p><a href="{% url 'images:detail' image.pk %}">{{ image.title }}</a></p>
                <p><img src="{{ image.img.url }}" height="400px" width="550px" /></p>
                <p>{{ image.users_like.count }} like{{ image.users_like.count|pluralize }}</p>
                <br>
                <br>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <div class="col-md-8">
                <p>You have got no images.</p>
            </div>
        </div>
    {% endfor %}

{% endif %}

{% endblock %}
