{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <form class="form-horizontal" id="user-signin-form" method="POST" action="{% url 'users:signin' %}">
        {% include 'forms/horizontal_form.html' %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-success">Sign in</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'users:signup' %}">Sign up</a>
            </div>
        </div>

    </form>

{% endblock %}
