{% extends 'gallery/base_generic.html' %}

{% block content %}
    <p>ID: <strong>{{ user_obj.id }}</strong></p>
    <p>Username: <strong>{{ user_obj.username }}</strong></p>
    <p>Firstname: <strong>{{ user_obj.first_name }}</strong></p>
    <p>Lastname: <strong>{{ user_obj.last_name }}</strong></p>
    <p>Email: <strong>{{ user_obj.email }}</strong></p>
    <p>Date joined: <em>{{ user_obj.date_joined }}</em></p>
    <p>Last login: <em>{{ user_obj.last_login }}</em></p>
    <br/>

    {% if user_obj == request.user %}
        <a href="{% url 'gallery:profile' user_obj.id %}" class="btn btn-success">Update profile</a>
    {% endif %}
{% endblock %}
