{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-10">
            <h3>{{ image.title }}</h3>
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-8">
            <p><img width="100%" src="{{ image.img.url }}" /></p>
            {% if image.owner == user %}
                <p class="text-right">
                    <a href="{% url 'images:edit' image.pk %}">Edit</a>
                    <a href="{% url 'images:delete' image.pk %}" class="text-danger">Delete</a>
                </p>
            {% endif %}

            {% if liked %}

                <p class="hidden">
                    <form id="unlike-image-{{ image.id }}-form" method="POST" action="{% url 'images:unlike' image.pk %}">
                        {% csrf_token %}
                    </form>
                </p>
                <a class="text-success" href="#" onclick="document.getElementById('unlike-image-{{ image.id }}-form').submit();">Unlike</a>
                <p><a href="{% url 'users:detail' user.pk %}">You</a> and {{ number_others_like }} others like this, <span class="text-muted" title="{{ image.time_created }}">{{ image.time_created|timesince }}</span></p>

            {% else %}

                <p class="hidden">
                    <form style="display:none" id="like-image-{{ image.id }}-form" method="POST" action="{% url 'images:like' image.pk %}">
                        {% csrf_token %}
                    </form>
                </p>
                <a class="text-success" href="#" onclick="document.getElementById('like-image-{{ image.id }}-form').submit();">Like</a>
                <p>{{ users_like.count }} other{{ users_like.count|pluralize:"s" }} like this, <span class="text-muted" title="{{ image.time_created }}">{{ image.time_created|timesince }}</span></p>

            {% endif %}
                    
        </div>{% comment %} .col-md-8 {% endcomment %}
        
        <div class="col-md-4">
            <p>{{ image.description }}</p>
        </div>
    </div>{% comment %} .row {% endcomment %}

    <div class="row">
        <div class="col-md-12">
            <br/>
        </div>
    </div>

{% for c in comments %}
    <div class="row">
        <div class="col-md-8">

            <div class="media">
                <div class="media-left">
                    <a href="{% url 'users:detail' c.owner.pk %}">
                        <img class="media-object" src="{{ c.owner.profile.avatar.url }}" alt="avatar" width="64px" height="64px"/>
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="{% url 'users:detail' c.owner.pk %}">{{ c.owner.get_full_name }}</a></h5>
                    {{ c.content }}
                    <p>
                        {% if user in c.users_like.all %}

                        <form class="hidden" id="unlike-comment-{{ c.id }}-form" method="POST" action="#">
                            {% csrf_token %}
                        </form>
                        <a class="text-success" href="#" onclick="document.getElementById('unlike-comment-{{ c.id }}-form').submit();">Unlike</a>

                        {% else %}

                        <form class="hidden" id="like-comment-{{ c.id }}-form" method="POST" action="#">
                            {% csrf_token %}
                        </form>
                        <a class="text-success" href="#" onclick="document.getElementById('like-comment-{{ c.id }}-form').submit();">Like</a>

                        {% endif %}
                        <em>{{ c.users_like.count }} likes</em>, <span class="text-muted" title="{{ c.time_updated }}">{{ c.time_updated|timesince }}</span>

                        {% if user.pk == c.owner.pk %}
                            <a href="#">edit</a>
                            <form class="hidden" id="delete-comment-{{ c.id }}-form" method="POST" action="#">
                                {% csrf_token %}
                            </form>
                            <a class="text-danger text-right" href="#" onclick="document.getElementById('delete-comment-{{ c.id }}-form').submit();">delete</a>
                        {% endif %}

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    

{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-8">
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'users:detail' user.pk %}">
                        <img class="media-object" src="{{ user.profile.avatar.url }}" alt="avatar" width="64px" height="64px" />
                    </a>
                </div>

                <div class="media-body">
                    <form method="POST" action="{% url 'images:detail' image.pk %}">
                        <div class="form-group">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>{% comment %} .row {% endcomment %}
{% endif %}

{% endblock %}
